spring:
  datasource:
    url: jdbc:postgresql:pharmagator
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: validate


pharmagator:
  data-providers:
    apteka-ds:
      url: https://api-int.apteka-ds.com.ua/api/v1
      category-fetch-url: /category-menu
      category-path: /cat-prods-by-page
    pharmacy-anc:
      url: https://anc.ua/productbrowser/v2/ua
      category-fetch-url: /categories
      page-size: 400
    apteka-liki24:
      url: https://liki24.com/vnext/api/catalogue/8000001/products
      initial-page-index: 1
